body {
  font-family: $SFPD;
  font-style: normal;
}

main {
  overflow: hidden;
}

.container {
  width: 1400px;
  margin: 0 auto;

  @media (min-width: 1950px) {
    padding: 0 30px;
  }
}

.svg-icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

section {
  min-height: 100vh;
  position: relative;

  padding: 40px 15px 20px;

  @media ($m-s) {
    padding: 60px 40px 60px;
  }

  @media ($m-mm) {
    padding: 80px 60px 80px;
  }

  @media ($m-xl) {
    padding: 100px;
  }

  @media ($m-xl) {
    padding: 140px 120px;
  }
}

img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
