.about {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: $c-mint;

  &__inner {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  &__media {
    width: 263px;
    align-self: center;

    margin-bottom: 20px;
    z-index: 1;

    & > img {
      filter: drop-shadow(0px 0px 140.155px rgba(141, 166, 172, 0.5));
    }
  }

  &__blob {
      position: absolute;
      right: -102px;
      top: 33px;

      width: 258px;
      height: 252px;

      color: $c-white;
  }
}
