footer {
  position: relative;
  overflow: hidden;

  padding: 40px 15px 20px 15px;

  @media ($m-s) {
    padding: 60px 40px 60px;
  }

  @media ($m-mm) {
    padding: 100px 60px;
  }

  @media ($m-l) {
    height: 100vh;
    padding: 120px 120px 80px 60px;
  }

  @media ($m-xxl) {
    padding: 100px 120px 80px 60px;
  }

  @media ($m-xxxl) {
    padding: 245px 0 100px 0;
  }

  @media ($m-2k) {
    height: auto;
  }
}

.footer {
  &__inner {
    position: relative;
    z-index: 5;

    display: grid;
    grid-template-areas:
      "text--big ."
      "text--small ."
      "img heart";

    @media ($m-s) {
      grid-template-areas:
        "img text--big"
        "img text--small"
        "img heart"
        "img .";

      grid-template-columns: 1fr 320px;
    }

    @media ($m-mm) {
      grid-template-areas:
        "img text--big"
        "img text--small"
        "img heart"
        "img .";

      grid-template-columns: 500px 320px;
    }

    @media ($m-l) {
      grid-template-columns: 1fr 600px;
    }

    @media ($m-l) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        ". ."
        "img text--big"
        "img text--small"
        "img heart"
        "img .";
    }

    @media ($m-xxl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media ($m-xxxl) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "img text";
    }
  }

  &__text {
    &-wrap {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      grid-area: text;
    }

    font-weight: bold;

    &--small {
      font-size: 20px;
      color: $c-typography;

      grid-area: text--small;
      margin-bottom: 20px;

      @media ($m-s) {
        font-size: 34px;
      }

      @media ($m-l) {
        font-size: 62px;
      }

      @media ($m-xxl) {
        font-size: 72px;
        line-height: 92px;
      }
    }

    &--big {
      font-size: 42px;
      color: $c-text-main;
      text-transform: uppercase;

      grid-area: text--big;

      @media ($m-s) {
        margin-bottom: 16px;

        font-size: 64px;
        line-height: 60px;
      }

      @media ($m-l) {
        font-size: 120px;
        line-height: 90px;
      }

      @media ($m-l) {
        font-size: 144px;
        line-height: 92px;
      }
    }

    &-wrap {
      grid-area: text;
    }
  }

  &__heart {
    position: relative;
    right: 10px;

    width: 48px;
    height: 48px;

    grid-area: heart;

    @media ($m-s) {
      margin-left: auto;
    }

    @media ($m-xxl) {
      width: 104px;
      height: 104px;
    }

    & > img {
      animation: beat 2s ease-in-out infinite;
      grid-area: heart;

      @keyframes beat {
        40% {
          transform: scale(1.2);
        }

        50% {
          transform: scale(1);
        }

        80% {
          transform: scale(1.2);
        }

        90% {
          transform: scale(1);
        }
      }
    }
  }

  &__img {
    grid-area: img;

    display: flex;
    place-content: center;

    height: 195px;

    @media ($m-s) {
      height: 300px;
    }

    @media ($m-mm) {
      height: 350px;
    }

    @media ($m-l) {
      height: 400px;
    }

    @media ($m-xxl) {
      height: 600px;
    }

    @media ($m-xxxl) {
      height: 615px;
    }

    & > img {
      width: 185px;

      @media ($m-s) {
        width: 300px;
      }

      @media ($m-mm) {
        width: 500px;
      }

      @media ($m-xxxl) {
        width: auto;
      }
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: -22.65px;

    width: 431.31px;
    height: 222.92px;

    @media ($m-s) {
      bottom: -5px;
      right: 0;

      width: 100%;
      height: auto;
    }

    @media ($m-l) {
      bottom: 0;
      right: 0;
    }

    & > img {
      height: 100%;
    }
  }
}
