header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  height: 55px;

  padding: 0 14px;
  margin-bottom: 40px;

  @media ($m-s) {
    display: flex;
    align-items: center;
    
    height: 155px;
    padding: 0 40px;
    margin-bottom: 0;
  }

  @media ($m-mm) {
    display: flex;
    align-items: center;
    
    height: 100px;
    padding: 0 60px;
    margin-bottom: 0;
  }

  @media ($m-mm) {
    padding: 0 100px;
  }

  @media ($m-xxl) {
    height: 150px;
    padding: 0 120px;
  }

  @media ($m-xxxl) {
    height: 150px;
    padding: 0 266px;
  }
}

.header {
  &__logo {
    height: 30px;

    color: $c-main;

    @media ($m-s) {
      height: 45px;
    }
  }

  &__enc-logo {
    width: 145px;

    @media ($m-s) {
      width: 222px;
    }
  }

  &__a-logo {
    width: 125px;

    @media ($m-s) {
      width: 175px;
    }
  }
}
