.icons {
  &__inner {
    position: relative;
    z-index: 1;
  }

  &__media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;

    @media ($m-s) {
      margin-top: 40px;

      column-gap: 35px;
      row-gap: 60px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @media ($m-s) {
      width: auto;
      height: 150px;
    }
  }

  &__blob {
    position: absolute;
    right: -90px;
    top: 33px;

    width: 258px;
    height: 252px;

    color: $c-mint;

    @media ($m-s) {
      width: 400px;
      height: 400px;
    }
  }
}
