.icons {
  &__inner {}

  &__media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}