.illustrations {
    &__inner {
        position: relative;
        z-index: 1;
    }

    &__media {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media ($m-s) {
            gap: 30px;
        }
    }

    &__img {
        display: flex;
        align-items: flex-start;

        &:nth-child(odd) {
            padding-bottom: 21px;
        }

        @media ($m-s) {
        
        max-height: 300px;}
    }

    &__blob {
        position: absolute;
        right: -90px;
        top: 33px;

        width: 258px;
        height: 252px;

        color: $c-mint;

        @media ($m-s) {
            width: 400px;
            height: 400px;
        }
    }
}
