.illustrations {
    &__media {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__img {
        display: flex;
        align-items: flex-start;
        
        &:nth-child(odd) {
            padding-bottom: 21px;
        }
    }
}