.intro {
  position: relative;

  @media ($m-mm) {
    padding: 20px 60px 60px;
  }

  &__inner {
    position: relative;
    z-index: 5;

    display: grid;
    grid-template-areas:
      "text text"
      "showreel img";

    & > .text {
      grid-area: text;

      @media ($m-l) {
        margin-top: 65px;
      }
    }

    @media ($m-l) {
      grid-template-areas:
        "text img"
        "showreel img";
    }
  }

  &__media {
    grid-area: img;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 195px;
    height: 195px;

    margin: 0 -20px 20px 0;

    @media ($m-s) {
      width: 300px;
      height: 300px;
    }

    @media ($m-l) {
      width: 500px;
      height: 500px;
    }
  }

  &__showreel {
    grid-area: showreel;
    display: flex;
    width: 60px;
    height: 60px;

    @media ($m-s) {
      width: 95px;
      height: 95px;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: -22.65px;

    width: 431.31px;
    height: 222.92px;

    @media ($m-s) {
      bottom: -5px;
      right: 0;

      width: 100%;
      height: auto;
    }

    @media ($m-l) {
      width: 80%;
    }
  }
}
