.logo {
  padding: 0;

  &__inner {
    display: grid;
    grid-template-areas:
      "text"
      "classic"
      "leaves"
      "eng-logo";

    @media ($m-s) {
      grid-template-rows: 2fr repeat(3, 1fr);
    }
  }

  &__text {
    background-color: $c-white;
    grid-area: text;

    padding: 40px 15px 0 15px;

    @media ($m-s) {
      padding: 60px 40px;
    }
  }

  &__eng-logo {
    grid-area: eng-logo;

    background-color: $c-main;
    color: $c-white;
  }

  &__leaves {
    grid-area: leaves;

    background-color: $c-white;
    color: $c-main;
  }

  &__classic {
    grid-area: classic;

    background-color: $c-main;
    color: $c-white;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-of-type) {
      padding: 30px 0;
    }

    & > .svg-icon {
      height: 45px;
      width: fit-content;

      @media ($m-s) {
        width: 400px;
        height: 80px;
      }
    }
  }
}
