.logo {
  padding: 0;

  &__inner {
    display: grid;
    grid-template-areas:
      "text"
      "classic"
      "leaves"
      "eng-logo";

    @media ($m-s) {
      grid-template-rows: 2fr repeat(3, 1fr);
    }

    @media ($m-mm) {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "text classic"
        "text leaves"
        "text eng-logo";
    }

    @media ($m-xl) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "text classic"
        "leaves eng-logo";
    }
  }

  &__text {
    background-color: $c-white;
    grid-area: text;

    padding: 40px 15px 0 15px;

    @media ($m-s) {
      padding: 60px 40px;
    }

    @media ($m-xl) {
      padding: 30px 30px 30px 100px;
    }

    @media ($m-xxxl) {
      padding: 105px 0;
      margin: auto;
      margin-right: 200px;

      & > .text {
        width: 565px;
        margin-bottom: 0;
      }
    }
  }

  &__eng-logo {
    grid-area: eng-logo;

    background-color: $c-main;
    color: $c-white;

    @media ($m-xl) {
      background-color: $c-white;
      color: $c-main;
    }
  }

  &__leaves {
    grid-area: leaves;

    background-color: $c-white;
    color: $c-main;

    @media ($m-xl) {
      background-color: $c-main;
      color: $c-white;
    }
  }

  &__classic {
    grid-area: classic;

    background-color: $c-main;
    color: $c-white;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-of-type) {
      padding: 30px 0;
    }

    & > .svg-icon {
      height: 45px;
      width: fit-content;

      @media ($m-s) {
        width: 400px;
        height: 80px;
      }

      @media ($m-xl) {
        width: 500px;
        height: 230px;
      }
    }
  }
}
