.mobile {
  background-color: $c-mint;

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__photo {
    width: 40%;

    &:last-of-type {
      padding-top: 60px;
    }
  }

  &__blob {
    position: absolute;
    left: -102px;
    top: 33px;

    width: 258px;
    height: 252px;

    color: $c-white;
  }
}
