.mobile {
  background-color: $c-mint;

  &__inner {
    position: relative;
    z-index: 1;

    @media ($m-mm) {
      display: grid;
      grid-template-columns: 525px 1fr;
    }

    @media ($m-l) {
      grid-template-columns: 565px 1fr;
    }

    & > .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__photo {
    width: 40%;

    &:not(last-of-type) {
      filter: drop-shadow(0px 0px 150px rgba(141, 166, 172, 0.5));
    }

    &:last-of-type {
      padding-top: 60px;
    }

    @media ($m-s) {
      width: 35%;

      &:last-of-type {
        padding-top: 150px;
      }
    }
  }

  &__blob {
    position: absolute;
    left: -102px;
    top: 33px;

    width: 258px;
    height: 252px;

    color: $c-white;

    @media ($m-s) {
      width: 400px;
      height: 400px;
    }
  }
}
