.mobile {
  background-color: $c-mint;

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__photo {
    width: 40%;

    &:last-of-type {
      padding-top: 60px;
    }
  }
}
