.overview {
    display: flex;
    padding: 0;
    
    @media ($m-l) {
        height: 100vh;

        & > img {
            display: none;
        }

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--first {
            background-image: url('../img/desktop-overview.webp');
        }
    
        &--second {
            background-image: url('../img/mobile-overview.webp');
        }
    
        &--third {
            background-image: url('../img/ui-overview.webp');
        }
    }
}
