.text {
  margin-bottom: 20px;

  @media ($m-s) {
    margin-bottom: 0;
  }

  &--big-mb {
    margin-bottom: 30px;

    @media ($m-s) {
      margin-bottom: 40px;
    }
  }

  &__headline {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;

    color: $c-text-main;
    mix-blend-mode: normal;

    @media ($m-s) {
      margin-bottom: 25px;

      font-size: 55.9302px;
      line-height: 71px;
    }
  }

  &__subheadline {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: $c-typography;
    mix-blend-mode: normal;

    @media ($m-s) {
      font-size: 18px;
      line-height: 28px;
    }

    &--small {
      font-size: 10px;
      line-height: 13px;

      @media ($m-s) {
        font-size: 18.6434px;
        line-height: 28px;
      }
    }
  }

  &__enc {
    font-size: 8px;
    line-height: 6px;
    font-weight: 500;
    letter-spacing: 0.695039px;
    text-transform: uppercase;

    color: $c-typography;

    margin-bottom: 8px;

    @media ($m-s) {
      margin-bottom: 20px;

      font-size: 9.3217px;
      line-height: 14px;
    }
  }
}
