.typography {
  position: relative;

  background-color: $c-typography-bg;

  @media ($m-xxxl) {
    padding: 312px 0;
  }

  &__inner {
    position: relative;
    z-index: 1;

    & > * {
      color: $c-typography;
    }

    @media ($m-l) {
      display: grid;
      column-gap: 60px;
      grid-template-columns: 700px auto;
      grid-template-areas:
        "weights glyphs"
        "headline glyphs"
        "fontname glyphs"
        "font-showcase glyphs"
        "text glyphs";
    }

    @media ($m-xxxl) {
      column-gap: 225px;
    }
  }

  &__weights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;

    @media ($m-l) {
      grid-area: weights;
      width: 290px;
    }

    &-item {
      font-size: 12px;
      line-height: 17px;
      text-transform: uppercase;
      letter-spacing: -0.02em;
      color: $c-typography;

      opacity: 0.5;

      @media ($m-s) {
        font-size: 18px;
        line-height: 71px;
      }

      &--bold {
        font-weight: bold;
      }

      &--medium {
        font-weight: 500;
      }

      &--regular {
        font-weight: normal;
      }
    }
  }

  &__headline {
    font-size: 15px;
    margin-bottom: 10px;

    @media ($m-s) {
      margin-bottom: 30px;

      font-size: 36px;
      line-height: 43px;
    }

    @media ($m-l) {
      grid-area: headline;
    }
  }

  &__fontname {
    font-size: 32px;
    color: $c-main;
    font-weight: 900;
    letter-spacing: -0.02em;
    margin-bottom: 10px;

    @media ($m-s) {
      margin-bottom: 30px;

      font-size: 96px;
      line-height: 79px;
    }
  }

  &__font-showcase {
    font-size: 15px;
    font-weight: 900;
    line-height: 139.5%;

    margin-bottom: 20px;

    & > br {
      display: none;
    }

    @media ($m-s) {
      margin-bottom: 40px;

      font-size: 36px;
      line-height: 50px;

      & > br {
        display: inline-flex;
      }
    }

    @media ($m-l) {
      grid-area: font-showcase;
    }
  }

  & > .text {
    @media ($m-l) {
      grid-area: text;
    }
  }

  &__media {
    @media ($m-s) {
      height: 300px;
      margin-top: 35px;
    }

    @media ($m-l) {
      grid-area: glyphs;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .svg-icon {
      @media ($m-xxl) {
        height: 230px;
      }
    }
  }

  & > .blob {
    left: -90px;
    top: 33px;

    color: $c-white;
  }
}
